src/main/mule/batch-processing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <flow name="batch-processing-flow" doc:id="d01a27b6-1a19-4b14-af7b-421ce5ac747d" >
        <http:listener doc:name="POST:/userAccounts" doc:id="cd56b3c9-ae11-4d1a-85cf-68b44835b6d1" config-ref="HTTP_Listener_Config" path="/userAccounts"/>
        <logger level="INFO" doc:name="Log Payload" doc:id="2fa40808-6883-47c3-8932-d21df35f4be3" message="#[payload]"/>
        <batch:job jobName="batch-processing-batch-job" doc:id="89daa1e0-188f-4640-9a9a-47d60735a093" >
            <batch:process-records >
                <batch:step name="Batch_Step_1" doc:id="4d1a380e-415b-42e0-96cb-6392649b7152" acceptExpression="#[payload.age &gt;= 18]">
                    <logger level="INFO" doc:name="Log Payload" doc:id="77fdab28-7341-4a94-b550-67f30a0170bd" message='"Batch_Step_1 Records : #[payload]' />
                </batch:step>
                <batch:step name="Batch_Step_2" doc:id="0d552383-c21d-41f7-af72-4a955ba67351" acceptExpression="#[payload.age &lt; 18]">
                    <logger level="INFO" doc:name="Log Payload" doc:id="6c28f51a-9e0e-4dfd-a9aa-a7ca6e134368" message='"Batch_Step_2 Records : #[payload]' />
                </batch:step>
                <batch:step name="Batch_Step_3" doc:id="5db14721-bd91-48de-a77f-1de4b734e89e" acceptPolicy="ONLY_FAILURES">
                    <logger level="INFO" doc:name="Log Payload" doc:id="275ec030-0d5f-4982-a387-8ae87699443e" message='"Batch_Step_3 Records : #[payload]' />
                </batch:step>
            </batch:process-records>
            <batch:on-complete >
                <ee:transform doc:name="Send Batch Process Summary" doc:id="86ba7b69-e275-46d4-a9e9-61780b30c8f8" >
                    <ee:message >
                        <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Total Records processed" : payload.totalRecords,
	"Successful records" : payload.successfulRecords,
	"Failed Records": payload.failedRecords
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <logger level="INFO" doc:name="Log Summary" doc:id="0f2957ac-e869-45ee-8d81-d66445e76361" />
            </batch:on-complete>
        </batch:job>
    </flow>
</mule>
